.content-container {
  /* fill vertically */
  height: 100% !important;
}

/* hide progress bar when router-outlet resolves component */
.progress {
  display: none;
}
router-outlet + .progress {
  display: block;
}

/* make dashboard and/or routed component full window height */
router-outlet + * {
  height: 100%;
}
